@import "tailwindcss";

@import "./styles/scrollbar.css";

html {
  scroll-behavior: smooth;
}


@keyframes gradient-border {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-border {
  animation: gradient-border 6s ease infinite;
}


@keyframes pulseGlow {
  0%, 100% {
    filter: drop-shadow(0 0 6px rgba(0, 255, 255, 0.6));
  }
  50% {
    filter: drop-shadow(0 0 12px rgba(255, 0, 150, 0.8));
  }
}

.animate-pulseGlow {
  animation: pulseGlow 2.5s infinite;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientShift 6s ease infinite;
}
